<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
       <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/<%=product.IMAGEURL%>" alt="" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"><%=product.NAME%></h5>
                                <p class="card-textr"><%= product.PRICE%></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis optio quos ex dolorum rerum voluptatem, cumque esse voluptate corporis facere culpa ratione fugit porro tempore omnis sapiente aperiam! Quo, necessitatibus?</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis optio quos ex dolorum rerum voluptatem, cumque esse voluptate corporis facere culpa ratione fugit porro tempore omnis sapiente aperiam! Quo, necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>